<div class="row">
	<div class="col-md-12">
		<h1>{{recipe.name}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<img [src]="recipe.imagePath" [alt]="recipe.name" class="img-fluid"/>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="btn-group">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		   Manage
		</button>
		<div class="dropdown-menu">
		  <a class="dropdown-item" href="javascript:void(0)" (click)="onAddToShoppingList()">To Shopping List</a>
		  <a class="dropdown-item" href="javascript:void(0)" (click)="onEditRecipe()">Edit Recipe</a>
		  <a class="dropdown-item" href="javascript:void(0)" (click)="onDeleteRecipe()">Delete Recipe</a>
		</div>
	</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{{recipe.description}}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" 
			*ngFor="let ingredient of recipe.ingredients" 
			[ngStyle]="{backgroundColor : ingredient.amount >5 ? 'green' : 'grey'}"
			>
				{{ ingredient.name }}
				<span class="badge badge-primary badge-pill">{{ ingredient.amount }}</span>
            </li>
        </ul>
	</div>
</div>
