<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-success" (click)="onAddNewRecipe()">New Recipe</button>
	</div>
</div>
<div class="row" style="margin-top: 40px">

<div class="col-md-12 align-self-center">	
</div>
	<div class="col-md-12">
        <div style="display:flex;justify-content: center;align-items: center; height:300px;" *ngIf="isFetching">
			<div class="spinner-border text-danger" role="status" style="">  
				<span class="sr-only">Loading</span>  
			</div>
		</div>			
		<ul class="list-group" *ngIf="!isFetching">
			<app-recipe-item  
			*ngFor="let recipeItem of recipes; let i = index"
			[recipe]="recipeItem"
			[recipeIndex]="i"
			></app-recipe-item>
		</ul>
	</div>
</div>

